<form #candidatForm="ngForm" (ngSubmit)="saveCandidat()">
<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">nouveau candidat </h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
          <label> nom </label>
          <input id="nom" name="nom" [(ngModel)]="candidat.nom" type="text" class="form-control">
      </div>
      <div class="form-group">
          <label> prenom </label>
          <input id="prenom" name="prenom" [(ngModel)]="candidat.prenom"  type="text" class="form-control">
      </div>
     
      <div>
            <label> Adresse : </label>
      <div class="form-group">
          <label> numeroAdresse </label>
          <input id="numeroAdresse" name="numeroAdresse" [(ngModel)]="candidat.numeroAdresse"  type="text" class="form-control">
          <label> rue </label>
          <input id="rue" name="rue" [(ngModel)]="candidat.rue"  type="text" class="form-control">
          <label> ville </label>
          <input id="ville" name="ville" [(ngModel)]="candidat.ville"  type="text" class="form-control">
          <label> paye </label>
          <input id="paye" name="paye" [(ngModel)]="candidat.paye"  type="text" class="form-control">
      </div>
    </div>
      </div>
      <div class="panel-footer">
          <button type="submit" class="btn btn-primary">sauvgarder</button>
      </div>
</div>
</form>